{% load i18n %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

<link rel="stylesheet/less" type="text/css" href="/static/bootstrap/less/bootstrap.less" />
<link rel="stylesheet/less" type="text/css" href="/static/bootstrap/less/responsive.less" />
<link rel="stylesheet/less" type="text/css" href="/static/datepicker/less/datepicker.less" />

<link rel="stylesheet" href="/static/select2/select2.css" />
<link rel="stylesheet" href="/static/mro/extra.css" />
{% if LANGUAGE_BIDI %}
    <link rel="stylesheet" href="/static/mro/extra.rtl.css" />
{% endif %}
