{% extends 'mro/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load mro_bootstrap %}
{% load render_table from django_tables2 %}

{% block extra_css %}
<style type="text/css">
.maintenance input, .table select, .table textarea {
    width: 95%;
}

.maintenance textarea {
    height: 120px;
}
.system th {
    width: 200px;
}
.maintenance th.edit, .maintenance th.work_cycle_count, 
.maintenance th.estimated_work_time, .maintenance th.last_maintenance, 
.maintenance th.current_counter_value, .maintenance th.last_maintenance_counter_value {
    width: 80px;
}
.maintenance th.work_type {
    width: 120px;
}
.maintenance th.work_cycle {
    width: 120px;
}
.maintenance td.DELETE {
    width: 30px;
}
#search-form li {
    margin-right: 20px;
}
th.error {
    color: red;
}
.formset-sep {
    height: 50px;
    border-bottom: 1px solid gray;
}
.has_hourly_maintenance {
    width: 30px;
}
</style>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/core.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.init.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/actions.js"></script>
<script>
// use bootstrap datepicker for redering 
django.jQuery(function(){
    django.jQuery('.last_maintenance input').datepicker({'format': 'dd/mm/yyyy'});
    
    django.jQuery('#search-form').keypress(function (e){
        code = e.keyCode ? e.keyCode : e.which;
          if(code.toString() == 13) {
             django.jQuery('#search-form').submit();
          }
    });
});
</script>
{% endblock %}
    
{% block content %}

<!--form id="search-form">
    <input type="hidden" id="form-page" name="page" value="{{ table.page.number }}">
    <input type="hidden" id="form-filter" name="filter_pk" value="{{ current_filter_pk }}">
    <ul class="nav nav-pills">
        <li><input type="text" name="search" class="" value="{{ search }}" placeholder="Search"></li>

        {% if filters %}
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    {{ current_filter_string }}
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="filters" data-val="">{% trans 'All' %}</a></li>
                    {% for filter in filters %}
                    <li><a class="filters" data-val="{{ filter.pk }}">{{ filter.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
    </ul>
</form-->

{{ form.non_field_errors }}

<form method="post" id="formset" action="" enctype="multipart/form-data">
    {% csrf_token %}

    <input type="hidden" id="form-page" name="page" value="">
    <input type="hidden" id="form_action" name="form-action" value="" />
    <table class="table system">
    {%for field in form %}
        <tr>
        {% if not field.is_hidden %}
            {% if field.errors %}
            <th valign="bottom" class="control-group {{ field.name }} error">
            {% else %}
            <th valign="bottom" class="control-group {{ field.name }}">
            {% endif %}
                {{ field.label }}
            </th>
            <td class="control-group {{ field.name }}">
                {{field}} <apan class="text-info">{{field.help_text}}</span>
            </td>
        {%else%}
            {{field}}
        {% endif %}
        </tr>
    {%endfor%}
    </table>

    <div class="form-actions">
    <a class="btn btn-primary btn-submit" href="#" onClick="
        django.jQuery('#formset').submit();" >{% trans 'Submit' %}</a>
    <a class="btn btn-primary btn-success" href="#" onClick="
        django.jQuery('#form_action').val('_continue');
        django.jQuery('#formset').submit();" >{% trans 'Submit and continue to edit' %}</a>
    <a class="btn btn-primary btn-danger pull-right" href="delete">{% trans 'Delete this system' %}</a>
    </div>

    <div class="formset-sep"></div>

    {{ formset.management_form }}

    <h4>{% trans "Maintenance instructions" %}</h4>

    <table class="table table-striped maintenance">
    <tr>
        <th class="edit"></th>
    {% for field in formset.forms.0 %}
        {% if not field.is_hidden %}
            <th class="{{ field.name }}">{{ field.label }}</th>
        {% endif %}
    {% endfor %}
    </tr>

    {% for form in formset %}
    <tr>
        <td valign="bottom" class="control-group edit">
            {% if form.id.value %}
            <a href="{{form.id.value}}" class="btn" >{% trans 'Edit Maintenance' %}</a>
            {% endif %}
        </td>
        {%for field in form %} 
            {% if not field.is_hidden %}
                {% if field.errors %}
                <td valign="bottom" class="control-group {{ field.name }} error">
                {% else %}
                <td valign="bottom" class="control-group {{ field.name }}">
                {% endif %}
                    {{field}}
                </td>
            {%else%}
                {{field}}
            {% endif %}
        {%endfor%}
    </td>
    {% endfor %}
    </table>

    <div class="form-actions">
    <a class="btn btn-primary btn-submit" href="#" onClick="
        django.jQuery('#formset').submit();" >{% trans 'Submit' %}</a>
    <a class="btn btn-primary btn-success" href="#" onClick="
        django.jQuery('#form_action').val('_continue');
        django.jQuery('#formset').submit();" >{% trans 'Submit and continue to edit' %}</a>
    <!--a class="btn btn-primary btn-danger pull-right" href="delete">{% trans 'Delete this system' %}</a -->
    </div>

<div style="visibility: hidden; height: 0px;">
    <div class="formset-sep"></div>

        {{ documentformset.management_form }}

        <h4>{% trans "System Documents" %}</h4>
        <table class="table table-striped">
        <tr>
        {% for field in documentformset.forms.0 %}
            {% if not field.is_hidden %}
                <th class="{{ field.name }}">{{ field.label }}</th>
            {% endif %}
        {% endfor %}
        </tr>

        {% for form in documentformset %}
        <tr>
            {%for field in form %} 
                {% if not field.is_hidden %}
                    {% if field.errors %}
                    <td valign="bottom" class="control-group error">
                    {% else %}
                    <td valign="bottom" class="control-group {{ field.name }}">
                    {% endif %}
                        {{field}}
                    </td>
                {%else%}
                    {{field}}
                {% endif %}
            {%endfor%}
        </td>
        {% endfor %}
    </table>

    <div class="form-actions">
        <a class="btn btn-primary btn-submit" href="#" onClick="
            django.jQuery('#formset').submit();" >{% trans 'Submit' %}</a>
        <a class="btn btn-primary btn-success" href="#" onClick="
            django.jQuery('#form_action').val('_continue');
            django.jQuery('#formset').submit();" >{% trans 'Submit and continue to edit' %}</a>
        <!--a class="btn btn-primary btn-danger pull-right" href="delete">{% trans 'Delete this system' %}</a -->
    </div>

</div>

</form>

{% bootstrap_paginator objects %}

<script>
django.jQuery(function() {
    django.jQuery('.filters').on("click", function(event){
        django.jQuery('#form-filter').val(django.jQuery(this).data('val'));
        django.jQuery('#search-form').submit();
    });
    
    django.jQuery('.paginators').on("click", function(event){
        django.jQuery('#form-page').val(django.jQuery(this).data('page'));
        django.jQuery('#search-form').submit();
    });
    
    django.jQuery('#id_assign_to').select2();
    django.jQuery('#id_department').select2();
    
});
</script>

{% endblock %}
