{% extends 'mro/base.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block extra_css %}
<style>
td span.true {
    color: green;
}
.department {
    width: 120px;
}
.name,
.contract_number {
    width: 120px;
}
.assign_to {
    width: 180px;
}
.last_maintenance {
    width: 80px;
}
.contract_include_parts,
.has_hourly_maintenance,
.has_daily_maintenance,
.has_weekly_maintenance,
.has_monthly_maintenance,
.has_yearly_maintenance {
    width: 40px;
}
</style>
{% endblock %}

{% block content %}
<form id="search-form">
    <input type="hidden" id="form-page" name="page" value="{{ table.page.number }}">
    <input type="hidden" id="form-filter" name="filter_pk" value="{{ current_filter_pk }}">
    <input type="hidden" id="form-sort" name="sort" value="{{ request.GET.sort }}">
    <ul class="nav nav-pills">
        <li>
            <input type="text" name="search" class="" value="{{ search }}" placeholder="Search">
        </li>
        
        {% if filters %}
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    {{ current_filter_string }}
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="filters" data-val="">{% trans 'All' %}</a></li>
                    {% for filter in filters %}
                    <li><a class="filters" data-val="{{ filter.pk }}">{{ filter.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
    </ul>
</form>

{% render_table table %}

<div class="form-actions">
    {% if add_action %}
    <form method="GET" action="add/" id="add-form">
    <input type="submit" class="btn btn-primary btn-success pull-right" value={% trans 'Add' %} />
    <select name="system_type" id="system-type-select">
        <option value="0">{% trans 'New System' %}</option>
        {% for t in system_types %}
            <option value="{{t.id}}">{{t.name}}</option>
        {% endfor %}
    </select>
    </form>
    {% endif %}
</div>

<script>
$(function() {
    $('.filters').on("click", function(event){
        $('#form-filter').val($(this).data('val'));
        $('#search-form').submit();
    });
    
    $('.paginators').on("click", function(event){
        $('#form-page').val($(this).data('page'));
        $('#search-form').submit();
    });
    
    $("#system-type-select").on("change", function(event){
        $("#add-form").attr("action","add/" + event.val);
    });
});
</script>
{% endblock %}
