{% extends 'mro/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load mro_bootstrap %}
{% load render_table from django_tables2 %}

{% block extra_css %}
<style type="text/css">
.maintenance input, .maintenance select, .maintenance textarea {
    width: 95%;
}
#id_work_description {
    width: 400px;
}
.maintenance textarea {
    height: 120px;
}
.system th {
    width: 200px;
}
.maintenance th.edit, .maintenance th.work_cycle_count, 
.maintenance th.estimated_work_time, .maintenance th.last_maintenance, 
.maintenance th.current_counter_value, .maintenance th.last_maintenance_counter_value {
    width: 80px;
}
.maintenance th.work_cycle {
    width: 120px;
}
.maintenance td.DELETE {
    width: 30px;
}
#search-form li {
    margin-right: 20px;
}
th.error, td.error {
    color: red;
}
</style>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/core.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.init.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/actions.js"></script>
<script>
// use bootstrap datepicker for redering 
django.jQuery(function(){
    django.jQuery('.last_maintenance input').datepicker({'format': 'yyyy-mm-dd'});
    
    django.jQuery('#search-form').keypress(function (e){
        code = e.keyCode ? e.keyCode : e.which;
          if(code.toString() == 13) {
             django.jQuery('#search-form').submit();
          }
    });
});
</script>
{% endblock %}
    
{% block content %}

<!--form id="search-form">
    <input type="hidden" id="form-page" name="page" value="{{ table.page.number }}">
    <input type="hidden" id="form-filter" name="filter_pk" value="{{ current_filter_pk }}">
    <ul class="nav nav-pills">
        <li><input type="text" name="search" class="" value="{{ search }}" placeholder="Search"></li>

        {% if filters %}
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    {{ current_filter_string }}
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="filters" data-val="">{% trans 'All' %}</a></li>
                    {% for filter in filters %}
                    <li><a class="filters" data-val="{{ filter.pk }}">{{ filter.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
    </ul>
</form-->

<form method="post" id="formset" action="">
    {% csrf_token %}

    <input type="hidden" id="form_action" name="form-action" value="" />
    <table class="table system">
    {%for field in form %}
        <tr>
        {% if not field.is_hidden %}
            {% if field.errors %}
            <th valign="bottom" class="control-group {{ field.name }} error">
            {% else %}
            <th valign="bottom" class="control-group {{ field.name }}">
            {% endif %}
                {{ field.label }}
            </th>
            {% if field.errors %}
            <td class="control-group {{ field.name }} error">
            {% else %}
            <td class="control-group {{ field.name }}">
            {% endif %}
                {{field}}
            </td>
        {%else%}
            {{field}}
        {% endif %}
        </tr>
    {%endfor%}
    </table>

    <input type="hidden" id="form-page" name="page" value="">

    {{ formset.management_form }}

    <table class="table table-striped maintenance">
    <tr>
    {% for field in formset.forms.0 %}
        {% if not field.is_hidden %}
            <th class="{{ field.name }}">{{ field.label }}</th>
        {% endif %}
    {% endfor %}
    </tr>

    {% for form in formset %}
    <tr>
        {%for field in form %} 
            {% if not field.is_hidden %}
                {% if field.errors %}
                <td valign="bottom" class="control-group {{ field.name }} error">
                {% else %}
                <td valign="bottom" class="control-group {{ field.name }}">
                {% endif %}
                    {{field}}
                </td>
            {%else%}
                {{field}}
            {% endif %}
        {%endfor%}
    </td>
    {% endfor %}
    </table>
</form>

{% bootstrap_paginator objects %}

<div class="form-actions">
    <a class="btn btn-primary btn-submit" href="#" onClick="
        django.jQuery('#formset').submit();" >{% trans 'Submit' %}</a>
    <a class="btn btn-primary btn-success" href="#" onClick="
        django.jQuery('#form_action').val('_continue');
        django.jQuery('#formset').submit();" >{% trans 'Submit and continue to edit' %}</a>
</div>

<script>
django.jQuery(function() {
    django.jQuery('.filters').on("click", function(event){
        django.jQuery('#form-filter').val(django.jQuery(this).data('val'));
        django.jQuery('#search-form').submit();
    });
    
    django.jQuery('.paginators').on("click", function(event){
        django.jQuery('#form-page').val(django.jQuery(this).data('page'));
        django.jQuery('#search-form').submit();
    });
    
    django.jQuery('#id_system').select2();
    django.jQuery('td.item select').select2();
});
</script>

{% endblock %}
