{% extends 'mro/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load mro %}
{% load render_table from django_tables2 %}

{% block extra_css %}
<link href="{{ STATIC_URL }}admin_enhancer/css/related-widget-wrapper.css" 
    type="text/css" media="screen" rel="stylesheet" />
<style>
.controls > .radio:first-child, .controls > .checkbox:first-child {
    width: 180px;
}
</style>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/core.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.init.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/actions.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}filer/js/popup_handling.js"></script>
<script>
// use bootstrap datepicker for redering 
django.jQuery(function(){
    django.jQuery('.dateinput').datepicker({'format': 'yyyy-mm-dd'});
});
</script>
{% endblock %}
    
{% block content %}

{% crispy form %}

{% if table %}

{% render_table table %}

{% endif %}

<div class="form-actions">
    <a class="btn btn-primary btn-submit" href="#" onClick="django.jQuery('form').submit();" >{% trans 'Submit' %}</a>
    <a class="btn btn-danger pull-right" href="delete" >{% trans 'Delete' %}</a>

    {% if table %}
    <a class="btn btn-primary btn-success" href="maintenance" >{% trans 'Add maintenance instruction' %}</a>
    {% endif %}
</div>

<script>
django.jQuery(function() {
    django.jQuery('.filters').on("click", function(event){
        django.jQuery('#form-filter').val(django.jQuery(this).data('val'));
        django.jQuery('#search-form').submit();
    });
    
    django.jQuery('.paginators').on("click", function(event){
        django.jQuery('#form-page').val(django.jQuery(this).data('page'));
        django.jQuery('#search-form').submit();
    });
});
</script>

{% endblock %}
