{% extends 'mro/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load mro_bootstrap %}
{% load render_table from django_tables2 %}

{% block extra_css %}
<link href="{{ STATIC_URL }}admin_enhancer/css/related-widget-wrapper.css" 
    type="text/css" media="screen" rel="stylesheet" />
<style type="text/css">
input, select {
    width: 95%;
}
td.catalogic_number, td.unit, 
td.expires, td.entered {
    width: 90px;
}
td.shelve, td.batch {
    width: 110px;
}
td.amount {
    width: 60px;
}
td.DELETE {
    width: 30px;
}
th.name, td.name input {
    width: 150px;
}
.amount input, input.amount {
    direction: ltr;
    text-align: right;
}
#search-form li {
    margin-right: 20px;
}
</style>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/core.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.init.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/actions.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}filer/js/popup_handling.js"></script>
<script>
// use bootstrap datepicker for redering 
django.jQuery(function(){
    django.jQuery('.entered input').datepicker({'format': 'yyyy-mm-dd'});
    django.jQuery('.expires input').datepicker({'format': 'yyyy-mm-dd'});
    django.jQuery('input.expires').datepicker({'format': 'yyyy-mm-dd'});
    
    django.jQuery('#search-form').keypress(function (e){
        code = e.keyCode ? e.keyCode : e.which;
          if(code.toString() == 13) {
             django.jQuery('#search-form').submit();
          }
    });
});
</script>
{% endblock %}
    
{% block content %}

<form id="search-form">
    <input type="hidden" id="form-page" name="page" value="{{ table.page.number }}">
    <input type="hidden" id="form-filter" name="filter_pk" value="{{ current_filter_pk }}">
    <ul class="nav nav-pills">
        <li><input type="text" name="search" class="" value="{{ search }}" placeholder="Search"></li>
        <li><input type="text" name="expires" class="expires" value="{{ expires }}" placeholder="Expires"></li>
        <li><input type="text" name="amount" class="amount" value="{{ amount }}" placeholder="Amount"></li>

        {% if filters %}
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    {{ current_filter_string }}
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="filters" data-val="">{% trans 'All' %}</a></li>
                    {% for filter in filters %}
                    <li><a class="filters" data-val="{{ filter.pk }}">{{ filter.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
    </ul>
</form>

{{ form.errors }}
{{ form.non_field_errors }}

<form method="post" id="formset" action="">
    {% csrf_token %}

    <table class="table">
    {%for field in form %}
        <tr>
        {% if not field.is_hidden %}
            {% if field.errors %}
            <th valign="bottom" class="control-group {{ field.name }} error">
            {% else %}
            <th valign="bottom" class="control-group {{ field.name }}">
            {% endif %}
                {{ field.label }}
            </th>
            <td class="control-group {{ field.name }}">
                {{field}}
            </td>
        {%else%}
            {{field}}
        {% endif %}
        </tr>
    {%endfor%}
    </table>

    <input type="hidden" id="form-page" name="page" value="">

    {{ formset.management_form }}

    <table class="table table-striped">
    <tr>
    {% for field in formset.forms.0 %}
        {% if not field.is_hidden %}
            <th class="{{ field.name }}">{{ field.label }}</th>
        {% endif %}
    {% endfor %}
    </tr>

    {% for form in formset %}
    <tr>
        {%for field in form %} 
            {% if not field.is_hidden %}
                {% if field.errors %}
                <td valign="bottom" class="control-group error">
                {% else %}
                <td valign="bottom" class="control-group {{ field.name }}">
                {% endif %}
                    {{field}}
                </td>
            {%else%}
                {{field}}
            {% endif %}
        {%endfor%}
    </td>
    {% endfor %}
    </table>
</form>

{% bootstrap_paginator objects %}

<div class="form-actions">
    <a class="btn btn-primary btn-submit" href="#" onClick="
        // delete items with no item selected
        django.jQuery('td').each(function() { 
            if (django.jQuery(this).children('select').val() == '') {
                django.jQuery(this).siblings('.DELETE').children('input').attr('checked','checked'); 
            }
        });
        django.jQuery('#formset').submit();" >{% trans 'Submit' %}</a>
</div>

<script>
django.jQuery(function() {
    django.jQuery('.filters').on("click", function(event){
        django.jQuery('#form-filter').val(django.jQuery(this).data('val'));
        django.jQuery('#search-form').submit();
    });
    
    django.jQuery('.paginators').on("click", function(event){
        django.jQuery('#form-page').val(django.jQuery(this).data('page'));
        django.jQuery('#search-form').submit();
    });
});
</script>

{% endblock %}